.custom-input {
    /* Add your styling rules here */
    padding: 10px;
    font-size: 12px;
    width: 15rem;
   border: none;
    /* ...other styles */
  }
  
  .custom-input:focus {
    /* Add additional styling rules for when the input is focused */
    outline: none;
    border-color: blue;
   
    /* ...other styles */
  }
  textarea{
    background-color: #E6EEFF ;;
    width: 16rem;
    border-radius: 12px;
    border: none;
  }
  .label{
    font-size: 12px;
    text-align: left;
    color: black;
    font-weight:400;
    
  }
  
  form > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0.5rem;
    
  }
  .custom-btn{
    margin-top: 3rem;
    text-align: center;
    background-color: black;
    color: white;
    height: 40px;
    width: 16rem;
    font-size: 16px;
    
  }

  .custom-btn:hover {
    cursor: pointer;
    background-color: orange;
    border: none;
  align-items: flex-start;
  color: black;
  font-weight: bold
  ;
  }
  .img-box{
display: flex;
justify-content: center;
align-items: center;
width: 16rem;
height: 6rem;
border: 1px solid #E6EEFF ;
  }
  .img-box > img {
    width: 24px;
    
  }
  .img-box > img:hover{
    cursor: pointer;
  }
  .img-box > div {
    font-size: 12px;
  }

  .Order-details > div:nth-child(1){
    font-weight: bold;
    font-size: 18px;
    width: 1rem;
    margin-top: -1rem;
    align-self: flex-start;
    padding-left: 3.5rem;
    padding-top: 12px;
  }
  form> div:nth-child(1){
    margin-top: -0.5rem;

  }