.custom-input {
    /* Add your styling rules here */
    padding: 10px;
    font-size: 12px;
    width: 15rem;
   border: none;
    /* ...other styles */
  }
  
  .custom-input:focus {
    /* Add additional styling rules for when the input is focused */
    outline: none;
    border-color: blue;
   
    /* ...other styles */
  }
  textarea{
    background-color: #E6EEFF ;;
    width: 16rem;
    border-radius: 12px;
    border: none;
  }
  .label{
    font-size: 12px;
    text-align: left;
    color: black;
    font-weight:400;
    
  }
  
  form > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    
  }
  .custom-btn{
    position: relative;
    text-align: center;
    background-color: black;
    color: white;
    height: 40px;
    width: 16rem;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    align-self:center;
  top : 200%;

  }

  .custom-btn:hover {
    cursor: pointer;
    background-color: orange;
    border: none;
  color: black;
  font-weight: bold
  ;
  }
  .custom-btn:active{
    transform: translateY(4px);
  }
  .img-box{
display: flex;
align-items: center;
justify-content: center;
align-items: center;
width: 16rem;
height: 6rem;
border: 1px solid #E6EEFF ;
  }
  .img-box:hover{
    cursor: pointer;
  }
  .label{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .label > img {
    width: 20px;
    
  }
  .label-box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img-box > img:hover{
    cursor: pointer;
  }
  .img-box > div {
    font-size: 12px;
  }

  .Order-details > div:nth-child(1){
    font-weight: bold;
    font-size: 18px;
    width: 1rem;
    margin-top: -1rem;
    align-self: flex-start;
    padding-left: 3.5rem;
    padding-top: 12px;
  }
  form> div:nth-child(1){
    margin-top: -0.5rem;

  }
  .img-input{
    width:0;
    height: 0;
    border: none;
    background-color: white;
   
  }
 .img-asset{
width: fit-content;
height: fit-content;
object-fit: cover;
 }
