.my-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.my-menu > div:nth-child(1){
    width: 20px;
}
.my-menu > img {
    width: 2rem;
    height: 2rem;
    border-radius: 20rem;
    margin-bottom: 2rem;
}