.custom-input1 {
    /* Add your styling rules here */
    padding: 10px;
    font-size: 12px;
    width: 25rem;
   border: none;
    /* ...other styles */
  }
  
  .custom-input1:focus {
    /* Add additional styling rules for when the input is focused */
    outline: none;
    border-color: blue;
   
    /* ...other styles */
  }
  .textarea{
    background-color: #E6EEFF ;;
    width: 25rem;
    border-radius: 12px;
    border: none;
  }
  .label{
    font-size: 12px;
    text-align: left;
    color: black;
    font-weight:400;
    
  }
  
  form > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    
  }
  .custom-btn2{
    position: relative;
    text-align: center;
    background-color: black;
    color: white;
    height: 40px;
    width: 25rem;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    align-self:center;
  margin-top: 3rem;

  }

  .custom-btn2:hover {
    cursor: pointer;
    background-color: orange;
    border: none;
  color: black;
  font-weight: bold
  ;
  }
  .custom-btn2:active{
    transform: translateY(4px);
  }
  .img-box1{
display: flex;
align-items: center;
justify-content: center;
align-items: center;
width: 25rem;
height: 6rem;
border: 1px solid #E6EEFF ;
  }
.Order-details1{
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F4F3F34D;
    border-radius: 20px;
    width: 100%;
    height: 47rem;
    gap: 20px;
}
.Order-details1 > div:nth-child(1){
    font-weight: bold;
    font-size: 18px;
    width: 1rem;
    margin-top: -1rem;
    padding-left: 20rem;
    align-self: flex-start;
    padding-top: 12px;
  }

  .image-container {
    position: relative;
    width: 200px; /* Adjust the desired constant size */
    height: 200px; /* Adjust the desired constant size */
    overflow: hidden;
  }
  
  .uploaded-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .delete-image {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .upload-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px; /* Adjust the desired constant size */
    height: 300px; /* Adjust the desired constant size */

    padding: 10px;
  }
  
  .placeholder-image {
    width: 20px;
  }