.Dish-section2{
    display: flex;
    flex-direction: column;
    height: 31rem;
    min-height: 31rem;
    max-height: 31rem;
    padding: 2px;
    border-radius: 12px;
    background-color:#EAEAEA ;
    justify-content: flex-start;
    margin-left: 3rem;
    }

.Dish-section2 > img{
    position: relative;
    width: 25rem;
    left: -10%;
    
}
.Span-section1{
    position: relative;
    display: flex;
    flex-direction: column;
     text-align: left;
     top: -35%;
     gap: 6px;
     
}
.Span-section1 > div:nth-child(1){
    font-weight: bold;
    font-size: 24px;
    width: 10rem;
    text-align: left;
   line-height: 1.5rem;
}

.Span-section1 > div:nth-child(2){
text-align: left;

    color: gray;
    font-size: 11px;
    width: 20rem;
}

.Span-section1 > div:nth-child(3){
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    left: 20%;
}
.Dish-btn {
    display: flex;
    align-items:end;
    gap: 2rem;
    padding-top:2rem;
    margin-top:0 auto;
}

.delete-btn{
       background-color:#F99191;
    padding: 12px;
    border-radius: 12px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    width: 8rem;
    color: white;
    }
    .edit-btn{
     background-color:black ;
        color: white;
        padding: 12px;
        width: 8rem;
        border-radius: 6px;
        border-radius: 12px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    }
   .delete-btn:hover {
       color:  red;
        
    }
    .Dish-btn a:active > div:nth-child(1){
        transform: translateY(4px);
    }
  
