
.admin{
    display: flex;
    justify-content: space-between;
   
}
.admin > div:nth-child(1){
    width: 20px;
}
.box > img {
    width: 2rem;
    height: 2rem;
    border-radius: 20rem;
    margin-bottom: 2rem;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-bottom: 2rem;
    margin-left: 45rem;
    
}
.profile > div:nth-child(1){
    font-weight: bold;
    font-size: 12px;
}
.profile > div:nth-child(2){
    font-size: 12px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
   min-width:fit-content;
 
}
.active-orders{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F4F3F34D;
    border-radius: 20px;
    width: 70%;
    height: 100%;
    gap: 20px;
    
}
.active-orders > div:nth-child(1){
    position: relative;
    top: -10%;
font-weight: bold;
font-size: 20px;
}
.active-orders > div:nth-child(2){
    color: gray;
    position: relative;
    top: -10%;
    
}

.order-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F4F3F34D;
    border-radius: 20px;
    justify-content: center;
    width: 26%;
    height: 47rem;
    gap: 20px;
  
}

.order-details > div:nth-child(1){
    position: relative;
    top: -10%;
font-weight: bold;
font-size: 20px;
}
.order-details > div:nth-child(2){
    color: gray;
    position: relative;
    top: -10%;
}

