.Hero{
    display: flex;
    overflow: hidden;
    height: 100vh;
}
.Hero-left{
    flex: 1 ;
    flex-direction: column;
    background-color: #E6EEFF;
    padding: 16px;
}

.Hero-left >div:nth-child(1){
    display: flex;
    flex-direction: column;
    width: 20px;
    line-height: 20px;
    
}
.Hero-left > div >span{
    font-size: 12px;
}
.orders{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 2rem;
}

.orders > div > img{
    padding-right: 10px;
    width: 16px;
    height: 16px;
}

.orders > div:nth-child(3){
display: flex;
color:#8E97B6 ;
font-size: 12px;
gap: 5px;
}
.orders > div:nth-child(2){
    display: flex;
    font-size: 12px;
    color:#8E97B6 ;
    gap: 5px;
    }
.orders > div:nth-child(1){
        display: flex;
        gap: 2px;
        font-size: 12px;
        }



.num{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 1px 8px;
    border-radius: 16px;
}
.menu{
    display: flex;
    margin-top:13rem;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: white;
    padding-left: 16px;
    border-radius: 16px;
    width: 11rem;
    margin-left: 2rem;
    gap: 12px;
    height: 12rem;
}
.menu > div > img {
    width: 40px;
    padding: 2px;
    margin-top: 2rem;
    margin-left: 0.5rem;
}

.menu > div > img:nth-child(1) {
    width: 36px;
    position:absolute;
    padding: 4px;
    background-color: white;
    border-radius: 20px;
    left: 6rem;
   z-index: 3;
}
.menu > div > img:nth-child(2) {
    width: 36px;
    position:absolute;
    padding: 4px;
    background-color: white;
    border-radius: 24px;
    left:7rem;
    z-index: 2;
}
.menu > div > img:nth-child(3) {
    width: 36px;
    position:absolute;
    padding: 4px;
    background-color: white;
    border-radius: 24px;
    left: 8rem;
    z-index: 1;
   
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}
.menu > div:nth-child(2){
    font-size: 12px;
    width: 8rem;
    padding-top: 20px;
    font-weight: bold;
    padding-left: 12px;
    line-height: 16px;
}
.menu-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    background-color: black;
    color: white;
    width: 7rem;
    height: 2rem;
    border-radius: 20px;
    margin-left: 0.5rem;
    margin-top: 12px;
    font-size: 12px;

}
.menu-button:hover{
cursor: pointer;
background-color: orange;
border: none;
color: black;
}
.Hero-right{
    display: flex;
    flex-direction: column;
   flex: 3;
   padding: 1rem;
}
.admin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5rem;
}
.admin > div:nth-child(1){
    width: 20px;
}
.admin > img {
    width: 2rem;
    height: 2rem;
    border-radius: 20rem;
    margin-bottom: 2rem;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-bottom: 2rem;
    margin-left: 45rem;
    
}
.profile > div:nth-child(1){
    font-weight: bold;
    font-size: 12px;
}
.profile > div:nth-child(2){
    font-size: 12px;
}
.container{
    display: flex;
    align-items: center;
    gap: 16px;
}
.active-orders{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F4F3F34D;
    border-radius: 20px;
    width: 40rem;
    height: 47rem;
    gap: 20px;
    
}
.active-orders > div:nth-child(1){
    position: relative;
    top: -10%;
font-weight: bold;
font-size: 20px;
}
.active-orders > div:nth-child(2){
    color: gray;
    position: relative;
    top: -10%;
    
}

.order-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:#F4F3F34D ;
    border-radius: 20px;
    justify-content: center;
    width: 24rem;
    height: 45rem;
    gap: 20px;
  
}

.order-details > div:nth-child(1){
    position: relative;
    top: -10%;
font-weight: bold;
font-size: 20px;
}
.order-details > div:nth-child(2){
    color: gray;
    position: relative;
    top: -10%;
}
