.active-orders > div:nth-child(3){
    width: 4rem;
    height: 30px;
    border: 2px solid black;
    margin-top: -5rem;

}
    .active-orders > div:nth-child(4){
        width: 4rem;
        height: 30px;
        border: 2px solid black;
        margin-bottom: 5rem;
      
 }