.Dish-section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 10rem;
    height: 12rem;
    padding: 8px;
    border-radius: 12px;
    background-color:#EAEAEA ;
    }
    .Span-section{
        position: relative;
        display: flex;
        flex-direction: column;
         text-align: left;
         padding-left: 1rem;
         top: -20%;
         gap: 6px;
         
    }
    .Span-section > div:nth-child(1){
        font-weight: bold;
        font-size: 12px;
        width: 7rem;
        line-height: 14px;
       
    }

    .Span-section > div:nth-child(2){
        color: gray;
        font-size: 10px;
        width: 8rem;
    }
 
    .Span-section > div:nth-child(3){
        font-weight: bold;
        font-size: 1rem;
    }


    .Dish-section > img{
        width: 10rem;
        margin-right: 12rem;
    }
.Dish-section1{
  display: flex;
  flex-direction: column;
    width: 10rem;
    height: 12rem;
    padding: 8px;
  padding-left: 2px;
    border-radius: 12px;
    background-color:#EAEAEA ;
}
.Dish-section1 > img{
    width: 10rem;
    margin-right: 12rem;
}
.Active-orders > div{
    padding-left: 4rem;
    display: flex;
    gap:4rem;
}